<!-- Header -->
<a name="about"></a>
<div class="intro-header about-header">
  <div class="header-background"></div>
  <div class="container">

      <div class="row">
          <div class="col-lg-12">
              <div class="intro-message">
                  <h2>Our goal is to give hope to those bravely fighting breast cancer by raising funds for breast cancer research.</h2>
              </div>
          </div>
      </div>

  </div>
  <!-- /.container -->

</div>
<!-- /.intro-header -->

<!-- Page Content -->
<div id="sp-section" class="content-section-a">

  <div class="container">
      <div class="row">
          <div class="col-lg-4 col-lg-offset-2 col-sm-6" id="sec-a-text">
              <div class="clearfix"></div>
              <h2 class="section-heading">All of our proceeds benefit</h2>
          </div>
          <div class="col-lg-4 col-sm-6">
              <%= image_tag "spielman-logo.jpg", id: "spielman-logo", class:"img-responsive", alt: "Stephanie Spielman Fund for Breast Cancer Research logo" %>
              <!--<img class="img-responsive" src="/assets/check.jpg" alt="check">-->
          </div>
      </div>

  </div>
  <!-- /.container -->

</div>
<!-- /.content-section-a -->

<div id="contact" class="content-section-c">

  <div class="container">
      <div class="row">
          <div class="col-lg-7 col-lg-offset-2">
            <h3>We are a student organization on a mission to raise awareness and funds for breast cancer reseach. We are involved in many events, including the annual Pink Out game at Ohio Stadium, which we plan and sell apparel for.</h3>
            <hr>
            <br>
          </div>
          <div class="col-lg-5 col-lg-offset-1 col-sm-6">
            <ul>
              <li class="leader">
                <%= image_tag "profile/alyssa.jpg", class: "leader-img img-circle" %>
                <div class="leader-details">
                  <span class="lead">Alyssa Pastor</span>
                  <br>
                  <span>President</span>
                </div>
              </li>
              <li class="leader">
                <span class="glyphicon glyphicon-user leader-img"></span>
                <div class="leader-details">
                  <span class="lead">Lydia Mack</span>
                  <br>
                  <span>Vice President</span>
                </div>
              </li>
              <li class="leader">
                <span class="glyphicon glyphicon-user leader-img"></span>
                <div class="leader-details">
                  <span class="lead">Emmy Wydman</span>
                  <br>
                  <span>Secretary</span>
                </div>
              </li>
              <li class="leader">
                <span class="glyphicon glyphicon-user leader-img"></span>
                <div class="leader-details">
                  <span class="lead">Ava Snaidauf</span>
                  <br>
                  <span>Marketing</span>
                </div>
              </li>
              <li class="leader">
                <span class="glyphicon glyphicon-user leader-img"></span>
                <div class="leader-details">
                  <span class="lead">Moriah Cheatham</span>
                  <br>
                  <span>Product Care</span>
                </div>
              </li>
              <li class="leader">
                <span class="glyphicon glyphicon-user leader-img"></span>
                <div class="leader-details">
                  <span class="lead">Lillie Motz</span>
                  <br>
                  <span>Product Care</span>
                </div>
              </li>
            </ul>
          </div>
          <div class="col-lg-5 col-sm-6">
            <ul>
              <li class="leader">
                <span class="glyphicon glyphicon-user leader-img"></span>
                <div class="leader-details">
                  <span class="lead">Rachael Nagel</span>
                  <br>
                  <span>Treasurer</span>
                </div>
              </li>
              <li class="leader">
                <span class="glyphicon glyphicon-user leader-img"></span>
                <div class="leader-details">
                  <span class="lead">Cortney Schroeder</span>
                  <br>
                  <span>Public Relations</span>
                </div>
              </li>
              <li class="leader">
                <%= image_tag "profile/jordan.jpg", class: "leader-img img-circle" %>
                <div class="leader-details">
                  <span class="lead">Jordan York</span>
                  <br>
                  <span>Event Coordinator</span>
                </div>
              </li>
              <li class="leader">
                <span class="glyphicon glyphicon-user leader-img"></span>
                <div class="leader-details">
                  <span class="lead">Gabby Master</span>
                  <br>
                  <span>Greek Coordinator</span>
                </div>
              </li>
              <li class="leader">
                <%= image_tag "profile/johns.jpg", class: "leader-img img-circle" %>
                <div class="leader-details">
                  <span class="lead">Johns Gresham</span>
                  <br>
                  <span>Technology Chair</span>
                </div>
              </li>
            </ul>
          </div>
      </div>

  </div>
  <!-- /.container -->

</div>
<!-- /.content-section-a -->

<!-- jQuery
<script src="js/jquery.js"></script>-->

<!-- Bootstrap Core JavaScript -->
<!-- <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script> -->
