<!-- Page Content -->
<div class="content-section-a events-content">

  <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <h3 class="events-section-header text-muted">Upcoming Events</h3>
          <!--<section class="card">
            <div class="card-padded">
                <h2>The O Patio Fundraiser</h2>
                <h4>Friday, 09&middot11 from 9-12pm</h4>
                <h4>The O Patio &amp Pub</h4>
            </div>
            <div class="stadium-container">
              <%= image_tag "events/opatio.jpg", id: "img-2013game", class:"img-responsive" %>
            </div>
              <div class="card-padded">
                <div class="event-options">
                  <div class="event-option"><a href="https://www.facebook.com/events/478708432302419/">View on Facebook</a></div>
                </div>
              </div>
          </section> -->

          <!--<section class="card">
            <div class="card-padded">
                <h2>Oldfield's Fundraiser</h2>
                <h4>Thursday, 09&middot17 from 5-9pm</h4>
                <h4>Oldfield's North Fourth Tavern</h4>
            </div>
            <div class="stadium-container">
              <%= image_tag "events/oldfields.png", id: "img-2013game", class:"img-responsive" %>
            </div>
              <div class="card-padded">
                <div class="event-options">
                  <div class="event-option"><a href="https://www.facebook.com/events/804843902962539/">View on Facebook</a></div>
                </div>
              </div>
          </section>-->

          <section class="card">
            <div class="card-padded">
                <h2>Member Meeting</h2>
                <h4>Tuesday, 09&middot22 at 8:30pm</h4>
                <h4>Hitchcock 035</h4>
            </div>
            <div class="stadium-container">
              <%= image_tag "events/member.jpg", id: "img-2013game", class:"img-responsive" %>
            </div>
          </section>
          <section class="card">
            <div class="card-padded">
                <h2>Blaze Fundraiser</h2>
                <h4>Wednesday, 09&middot23 from 5-8pm</h4>
                <h4>Blaze Pizza</h4>
            </div>
            <div class="stadium-container">
              <%= image_tag "events/blaze.jpg", id: "img-2013game", class:"img-responsive" %>
            </div>
            <div class="card-padded">
              <div class="event-options">
                <div class="event-option"><a href="https://www.facebook.com/events/1659388481011609/">View on Facebook</a></div>
              </div>
            </div>
          </section>
        </div>
      </div>
  </div>
  <!-- /.container -->

</div>
<!-- /.content-section-a -->
